#navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.link {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-radius: 7px;
  align-items: center;
  justify-content: left;
  color: #caf0f6;
  font-size: 14px;
}

.link-active,
.link:hover {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-radius: 7px;
  align-items: center;
  justify-content: left;
  color: #caf0f6;
  background: #001e3b;
  font-size: 14px;
}
